<html>
  <head>
    <title>Screenshot viewer</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/quasar@2.14.3/dist/quasar.prod.css"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      body {
        background-color: #888;
      }
      .screenshots-column {
        max-width: 300px;
        margin-right: 8px;
      }
      .screenshots-column > * {
        margin-bottom: 8px;
      }
      .screenshots-column .header-bar {
        height: 48px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
      }
      .screenshots-column .header-bar > * {
        padding-right: 8px;
      }
      .screenshot-thumbnail.show-image {
        height: 480px;
      }
      .screenshot-thumbnail.center-text {
        padding: 240px 64px;
      }
    </style>
  </head>
  <body>
    <div id="q-app">
      <div class="row items-start q-pa-sm">
        <div class="screenshots-column">
          <p class="header-bar">&nbsp;</p>
          <div v-for="{fileName, isSelected} in selectedFiles">
            <div
              class="screenshot-thumbnail flex col justify-center items-center"
              :class="{['show-image']: (isSelected)}"
            >
              <div class="flex row">
                <input
                  type="checkbox"
                  :id="fileName"
                  :value="fileName"
                  v-model="checkedFiles"
                />
                <label class="q-ma-none" :for="fileName">{{fileName}}</label>
              </div>
            </div>
          </div>
        </div>
        <snapshot-screenshots
          class="screenshots-column"
          v-for="key in selectedSnapshots"
          :screenshot-data="snapshotLookup[key]"
          :on-hide-snapshots="onHideSnapshots"
          :selected-files="selectedFiles"
        ></snapshot-screenshots>
        <q-btn icon="add">
          <q-menu>
            <q-list>
              <q-item
                v-for="key in unselectedSnapshots"
                clickable
                v-close-popup
              >
                <q-item-section @click="onShowSnapshots(key)"
                  >{{key}} {{snapshotLookup[key].env}}</q-item-section
                >
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.14.3/dist/quasar.umd.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="./screenshot-data.js"></script>
    <script>
      const screenshotData = window.screenshotData

      const months = [
        'Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'Jul',
        'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec',
      ]

      const app = Vue.createApp({
        setup() {
          const uniqueFiles = new Set()
          const snapshotLookup = {}
          for (const platform in screenshotData) {
            const snapshotFiles = new Set()
            for (const platformData of screenshotData[platform]) {
              const { timestamp, env, dir, files } = platformData
              const date = new Date(timestamp)
              const shortDate = `${months[date.getMonth()]} ${date.getDate()}`
              const longDate = `${shortDate} ${date.getFullYear()}`
              const label = `${platform} ${env}\n${shortDate}`
              snapshotLookup[dir] = {
                label,
                shortDate,
                longDate,
                platform,
                env,
                dir,
                date,
                files,
                snapshotFiles: new Set(files),
              }
              for (const file of files) {
                uniqueFiles.add(file)
              }
            }
          }

          const snapshots = [
            screenshotData.android[0].dir,
            screenshotData.ios[0].dir,
          ]
          const allSnapshots = Object.keys(snapshotLookup)
          const selectedSnapshots = Vue.reactive(snapshots)
          const unselectedSnapshots = Vue.reactive([])
          const updateUnselected = (selected) => {
            const selectedSet = new Set(selected)
            const unselected = allSnapshots.filter((s) => !selectedSet.has(s))
            unselectedSnapshots.splice(
              0,
              unselectedSnapshots.length,
              ...unselected
            )
          }
          Vue.watch(selectedSnapshots, (newValue) => {
            updateUnselected(newValue)
          })

          const orderedFiles = Array.from(uniqueFiles)
            .sort((a, b) => a.localeCompare(b))
            .map((fileName) => ({
              fileName,
              isSelected: true,
            }))
          const selectedFiles = Vue.reactive(orderedFiles)

          updateUnselected(selectedSnapshots)

          const onShowSnapshots = (snapshotId) => {
            selectedSnapshots.push(snapshotId)
          }
          const onHideSnapshots = (snapshotId) => {
            const index = selectedSnapshots.indexOf(snapshotId)
            if (~index) {
              selectedSnapshots.splice(index, 1)
            }
          }

          const checkedFiles = Vue.ref([])
          const updateVisibleFiles = _.throttle(() => {
            const checked = new Set(checkedFiles.value)
            selectedFiles.forEach((data) => {
              data.isSelected = checked.has(data.fileName)
            })
          }, 250)
          Vue.watch(checkedFiles, (newValue) => {
            updateVisibleFiles()
          })
          checkedFiles.value.splice(
            0,
            0,
            ...orderedFiles.map(({ fileName }) => fileName)
          )

          return {
            snapshotLookup,
            selectedSnapshots,
            unselectedSnapshots,
            selectedFiles,
            checkedFiles,
            onShowSnapshots,
            onHideSnapshots,
          }
        },
      })

      app.component('SnapshotScreenshots', {
        props: {
          screenshotData: Object,
          onHideSnapshots: Function,
          selectedFiles: Array,
        },
        render() {
          const { h } = Vue
          const { dir, label, snapshotFiles } = this.screenshotData

          const headerBar = h('div', { class: 'row header-bar' }, [
            h('p', { class: 'q-ma-none' }, label),
            h(
              'button',
              {
                onClick: () => {
                  this.onHideSnapshots(dir)
                },
              },
              'X'
            ),
          ])
          const images = this.selectedFiles.map(({ fileName, isSelected }) => {
            let src = ''
            let isHidden = false
            if (snapshotFiles.has(fileName)) {
              if (isSelected) {
                src = `${dir}/${fileName}`
              } else {
                isHidden = true
              }
            }
            if (src) {
              return h('img', { class: 'screenshot-thumbnail show-image', src })
            } else {
              const showImageClass = isHidden ? '' : 'show-image'
              const centerTextClass = isHidden ? '' : 'center-text'
              return h(
                'p',
                {
                  class: `screenshot-thumbnail q-ma-none ${showImageClass} ${centerTextClass}`,
                },
                isHidden ? '(hidden)' : 'N/A'
              )
            }
          })

          return h('div', [headerBar, ...images])
        },
      })

      app.use(Quasar)
      app.mount('#q-app')
    </script>
  </body>
</html>
